*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv

*.dvi
*.ps
*.loa
*.lol
*.maf
*.mtc
*.mtc0
*.pyg
*.thm
*.xdy

_minted*/

auto/
_region_*.tex

